<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class = 'container text-center'>
<h1>Password Generator</h1>

<form action="{% url 'password'  %}">

    <select name="length" >

        <option value ="1">1</option>
        <option value ="2">2</option>
        <option value ="3">3</option>
        <option value ="4">4</option>
        <option value ="5">5</option>
        <option value ="6" selected="selected">6</option>
        <option value ="7">7</option>
        <option value ="8">8</option>
        <option value ="9">9</option>
        <option value ="10">10</option>

    </select> Length

    <br>
    <input type ="checkbox", name="uppercase">Uppercase
    <br>
    <input type ="checkbox", name="lowercase">Lowercase
    <br>
    <input type ="checkbox", name="numbers"  >Numbers
    <br>
    <input type ="checkbox", name="special"  >Special Character
    <br>

    <input type = "Submit", value="Generate Password", class="btn btn-primary">

</form>
<br>
<br>

<a href="{% url 'about' %}">About</a>

</div>



